<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-latest.js "></script>

    <!-- bootsrtap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />

    <title>Blocko Coinstack</title>

    <script>
      $(document).ready(function() {
        let DEBUG = 1;

        if (DEBUG) {
          console.log("starting...");
        }

        $("#newEvent").on("click", function() {
          if (DEBUG) console.log("newEvent  ");

          $("#message").text(" newEvent ");
          alert("생성이 완료 되었습니다..!!!");
          //$('#i_password').val(privateKey);
          //
        });
      });
    </script>
  </head>

  <body>
    <br />
    <br />
    <div class="container " role="main">
      <h2><strong> Welcome to My Web </strong></h2>
      <div id="tablePlace"></div>
      <button id="newEvent">New Event</button>
    </div>
    <br />
    <br />
    <div class="container " role="main">
      <h4><strong> Message </strong></h4>
      <div id="message"></div>
    </div>
    <hr />
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          <b>Copyright &copy; Sunstar Since 2015</b>
        </p>
      </div>
    </footer>
  </body>
</html>
